.photo .hover {
  display: none;
  position: relative;
  z-index: 2;
  top: -200px;
  width: 300px; }

.photo-popup {
  position: fixed;
  width: 100%;
  height: 1280px;
  z-index: 1000;
  top: 0;
  text-align: center;
  align-items: center; }

.photo-popup--img-wrapper {
  padding-top: 20px; }

.photo-popup--img {
  display: inline-block;
  box-shadow: 10px 27px 90px -4px rgba(0, 0, 0, 0.75); }
  .photo-popup--img img {
    width: auto;
    height: 80%;
    max-height: 980px; }

.photo-popup--top {
  background-color: #fff;
  width: 100%;
  height: 48px; }
  .photo-popup--top svg {
    float: right;
    padding: 6px; }

.photo-popup--desc {
  background-color: #fff;
  width: auto;
  word-wrap: break-word;
  height: 150px;
  padding-top: 30px; }
  .photo-popup--desc p {
    font-size: 24px; }

.photo-popup--desc_line {
  border-bottom: solid 3px #3f3b4c;
  border-top: 0; }

.grey-out {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(45, 48, 51, 0.85);
  z-index: 20; }
