@import 'styles/variables.scss';

$img-width-huge: 1000px;
$img-width-big: 800px;
$img-width-medium: 600px;
$img-width-small: 400px;

.photo {
    .hover {
        display: none;
        position: relative;
        z-index: 2;
        top: -200px;
        width: 300px;
    }
}

.photo-popup {
    position: fixed;
    width: 100%;
    height: 1280px;
    z-index: 1000;
    top: 0;
    text-align: center;
    align-items: center;
}

.photo-popup--wrapper {
  padding-top: 40px;
}

.photo-popup--back {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: #fff;
    box-shadow: 10px 27px 90px -4px rgba(0,0,0,0.75);
}

.photo-popup--top {
    height: 48px;
    line-height: 20px;
    font-size: 24px;

    svg {
        float: right;
        padding: 6px;
    }
}

.photo-popup--img {


  img {
    width: auto;
    max-height: inherit;
    box-sizing: border-box;
  }
}

.photo-popup--desc {
    position: absolute;
    max-width: inherit;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 27px 90px -4px rgba(0,0,0,0.75);
    p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
}

.photo-popup--desc_line {
}

.grey-out {
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
   background: rgba(45, 48, 51, 0.85);
   z-index: 20;
}
