.side-menu {
  flex: 1;
  padding-top: 100px;
  height: 100%;
  background-color: #524e5f;
  color: #ccc; }
  .side-menu .cell {
    border: solid 1px #ccc;
    border-bottom: 0;
    border-right: 0; }
    .side-menu .cell p {
      margin-left: 15px;
      font-size: 20px;
      font-weight: 400;
      color: #3f3b4c; }
  .side-menu .cell:last-child {
    border: solid 1px #ccc;
    border-right: 0; }
  .side-menu .cell:hover {
    background-color: #f7f7f7; }
