@import 'styles/variables.scss';

.top-menu {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: $grid-size * 15;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 6px;
    background-color: $color-blue-main;

    .top-menu--image {
        float:right;
        padding-top: 4px;
        width: auto;
        height: 300%;
    }

    .h1 {
        font-family: 'Stardust';
    }
}
