.top-menu {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 6px;
  background-color: #3f3b4c; }
  .top-menu .top-menu--image {
    flex: 1;
    padding: 10px; }
  .top-menu h1 {
    text-align: right;
    margin-top: 25px;
    font-family: 'Stardust'; }

.side-menu {
  flex: 1;
  padding-top: 100px;
  height: 100%;
  color: #ccc; }
  @media screen and (max-width: 800px) {
    .side-menu {
      display: none; } }
  .side-menu .header {
    flex: 1;
    background-color: #3f3b4c;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px; }
    .side-menu .header h2 {
      margin: 5px;
      font-size: 18px;
      font-weight: 400; }
  .side-menu .menu-block {
    display: flex;
    flex-direction: column;
    padding-top: 150px; }
    @media screen and (max-height: 799px) {
      .side-menu .menu-block {
        padding-top: 50px; } }
  .side-menu .cell {
    border: solid 1px #efefef;
    border-bottom: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 10px; }
    .side-menu .cell p {
      padding-left: 10px;
      font-size: 16px;
      font-weight: 400;
      color: #3f3b4c; }
    .side-menu .cell.cell--clicked {
      background-color: #ccc; }
  .side-menu .cell:last-child {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .side-menu .cell:hover {
    background-color: #f7f7f7; }

.photo .hover {
  display: none;
  position: relative;
  z-index: 2;
  top: -200px;
  width: 300px; }

.photo-popup {
  position: fixed;
  width: 100%;
  height: 1280px;
  z-index: 1000;
  top: 0;
  text-align: center;
  align-items: center; }

.photo-popup--wrapper {
  padding-top: 40px; }

.photo-popup--back {
  position: relative;
  display: inline-block;
  height: 100%;
  background-color: #fff;
  box-shadow: 10px 27px 90px -4px rgba(0, 0, 0, 0.75); }

.photo-popup--top {
  height: 48px;
  line-height: 20px;
  font-size: 24px; }
  .photo-popup--top svg {
    float: right;
    padding: 6px; }

.photo-popup--img img {
  width: auto;
  max-height: inherit;
  box-sizing: border-box; }

.photo-popup--desc {
  position: absolute;
  max-width: inherit;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 27px 90px -4px rgba(0, 0, 0, 0.75); }
  .photo-popup--desc p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px; }

.grey-out {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(45, 48, 51, 0.85);
  z-index: 20; }

.input {
  padding: 5px;
  font-size: 20px;
  border: solid 1px #ccc; }
  .input.input--with-button {
    border-right: 0; }

.icon-wrapper {
  background-color: #e2ae60;
  max-width: 40px;
  max-height: 40px; }

.icon {
  padding: 10px; }
  .icon.icon--white {
    fill: #fff !important; }

.icon-wrapper:hover {
  background-color: #b58a4a; }

.l-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row; }

.l-flex-nowrap {
  flex-wrap: nowrap; }

.l-columns {
  display: flex;
  flex-direction: row; }

.l-rows {
  display: flex;
  flex-direction: column; }

.l-flex {
  flex: 1; }

.l-flex--2 {
  flex: 2; }

.l-flex--3 {
  flex: 3; }

.l-flex--8 {
  flex: 8; }

.l-empty--flex {
  flex: 1; }

.l-height--small {
  height: 10px; }

.l-height--medium {
  height: 50px; }

.l-height--big {
  height: 100px; }

.l-height--100 {
  height: 100%; }

.l-height--100-top {
  height: calc(100% - 150px); }

.l-min-height--big {
  min-height: 500px; }

.l-width--100 {
  width: 100%; }

.l-width--75 {
  width: 75%; }

.l-width--40 {
  width: 40%; }

.l-width--image {
  width: 200px; }

.l-min-width--big {
  min-width: 500px; }

.l-padding--small {
  padding: 40px; }

.l-padding-sides--big {
  padding-left: 150px;
  padding-right: 150px; }

.l-padding-v--small {
  padding-left: 40px;
  padding-right: 40px; }

.l-paddings-h--small {
  padding: 40px; }

.l-padding-left--tiny {
  padding-left: 5px; }

.l-padding-right--tiny {
  padding-right: 5px; }

.l-padding-left--big {
  padding-left: 40px; }

.l-padding-right--big {
  padding-right: 40px; }

.l-padding-top--big {
  padding-top: 40px; }

.l-padding-bottom--big {
  padding-bottom: 40px; }

.l-padding-top--huge {
  padding-top: 150px; }

.l-padding-bottom--medium {
  padding-bottom: 10px; }

.l-padding-right--medium {
  padding-right: 10px; }

.l-padding-left--medium {
  padding-left: 10px; }

.l-padding-top--medium {
  padding-top: 10px; }

.l-padding-left--small {
  padding-left: 20px; }

.l-padding-right--small {
  padding-right: 20px; }

.l-margin-top--big {
  margin-top: 65px; }

.l-margin-right--big {
  margin-right: 20px; }

.l-margin-top--huge {
  margin-top: 150px; }

.l-float--left {
  float: left; }

.l-float--right {
  float: right; }

.l-text-align--right {
  text-align: right; }

.l-overflow--scroll {
  overflow-y: auto; }

.l-overflow--hidden {
  overflow: hidden; }

body {
  background-color: #d6d6d6;
  margin: 0;
  display: flex;
  flex-direction: rows;
  min-height: 100vh;
  height: 100%;
  max-height: 300px;
  font-family: "Times New Roman", Times, serif; }

h1 {
  font-size: 70px;
  font-weight: 500;
  font-family: "Stardust";
  color: #ffffff; }

h2 {
  font-size: 40px;
  font-weight: 300; }

#root {
  width: 100%; }

.top-component {
  height: 100%;
  overflow: hidden; }

@font-face {
  font-family: 'Stardust';
  src: url(" ./fonts/Stardust.ttf"); }
