
@import 'styles/variables.scss';

.side-menu {
    flex: 1;
    padding-left: $grid-size * 2;
    height: 100%;
    background-color: #524e5f;
    color: #ccc;
}

.side-menu__menu {
    font-weight: 400;
    display: flex;
    flex-direction: column;

    .menu-item {
        flex: 1;
        min-width: 200px;
    }
}
